<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LearnCrypto</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function show_motivation() {
            var val1 = document.getElementById("opt");
            var droptext1 = val1.options[val1.selectedIndex].text;
            var val2 = document.getElementById("ende");
            var droptext2 = val2.options[val2.selectedIndex].text;
            if (droptext1 == "RSA") {
                document.getElementById("word1").innerHTML = "The Rivet-Shamir-Adleman (RSA) ";
                document.getElementById("word2").innerHTML = "Cryptosystem is a asymmetric cryptosystem that is used today by modern computers to encrypt and decrypt messages! Asymmetric means that there are two different keys. It is also classified as a public key cryptosystem since one of the keys can be given to anyone. \n" +
                    "RSA is based on the principle that it is easy to multiply large numbers, but factoring large numbers is very difficult. ";
                document.getElementById("word3").innerHTML = "RSA is used today in modern computers. It is used in a range of web browsers, email, VPNs, chat and other communication channels. So, it is a very valuable cryptosystem to learn for many computer scienctists!";
            }
            else if (droptext1 == "Diffie–Hellman key exchange") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "Diffie–Hellman key exchange motivation!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "ElGamal encryption") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "ElGamal encryption motivation!";
                document.getElementById("word3").innerHTML = "";
            }
        }

        function show_text() {
            var val1 = document.getElementById("opt");
            var droptext1 = val1.options[val1.selectedIndex].text;
            var val2 = document.getElementById("ende");
            var droptext2 = val2.options[val2.selectedIndex].text;

            if (droptext1 == "RSA" && droptext2 == "Encrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "RSA encrypt example!";
                document.getElementById("word3").innerHTML = "";
                document.getElementById("p1_text").style.display = 'inline-block';
                document.getElementById("p1_input").style.display = 'inline-block';
                document.getElementById("q1_text").style.display = 'inline-block';
                document.getElementById("q1_input").style.display = 'inline-block';
                document.getElementById("e1_text").style.display = 'inline-block';
                document.getElementById("e1_input").style.display = 'inline-block';
            }
            else if (droptext1 == "RSA" && droptext2 == "Decrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "RSA decrypt example!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "Diffie–Hellman key exchange" && droptext2 == "Encrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "Diffie–Hellman key exchange encrypt example!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "Diffie–Hellman key exchange" && droptext2 == "Decrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "Diffie–Hellman key exchange decrypt example!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "ElGamal encryption" && droptext2 == "Encrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "ElGamal encryption encrypt example!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "ElGamal encryption" && droptext2 == "Decrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "ElGamal encryption decrypt example!";
                document.getElementById("word3").innerHTML = "";
            }
            else if(droptext1 == "RSA" && droptext2 == "Select an Option") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "RSA encrypt motivation!";
                document.getElementById("word3").innerHTML = "";
            }
            else if(droptext1 == "Diffie–Hellman key exchange" && droptext2 == "Select an Option") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "Diffie–Hellman key exchange motivation!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "ElGamal encryption" && droptext2 == "Select an Option") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "ElGamal encryption motivation!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "Select an Option" && droptext2 == "Encrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "";
                document.getElementById("word3").innerHTML = "";
            }
            else if (droptext1 == "Select an Option" && droptext2 == "Decrypt") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "";
                document.getElementById("word3").innerHTML = "";
            }
            else {
                document.getElementById("word1").innerHTML = "Unknown requirements";
            }
        }

        function click_motivation() {
            var text = document.getElementById("whysys").innerHTML;
            if (text == "why RSA") {
                document.getElementById("word1").innerHTML = "The Rivet-Shamir-Adleman (RSA) ";
                document.getElementById("word2").innerHTML = "Cryptosystem is a asymmetric cryptosystem that is used today by modern computers to encrypt and decrypt messages! Asymmetric means that there are two different keys. It is also classified as a public key cryptosystem since one of the keys can be given to anyone. \n" +
                    "RSA is based on the principle that it is easy to multiply large numbers, but factoring large numbers is very difficult. ";
                document.getElementById("word3").innerHTML = "RSA is used today in modern computers. It is used in a range of web browsers, email, VPNs, chat and other communication channels. So, it is a very valuable cryptosystem to learn for many computer scienctists!";
            }
            else if (text == "why Diffie–Hellman key exchange") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "Diffie–Hellman key exchange motivation!";
                document.getElementById("word3").innerHTML = "";
            }
            else if (text == "why ElGamal encryption") {
                document.getElementById("word1").innerHTML = "";
                document.getElementById("word2").innerHTML = "ElGamal encryption motivation!";
                document.getElementById("word3").innerHTML = "";
            }
        }

        function why_system() {
            var val = document.getElementById("opt");
            var chosen = val.options[val.selectedIndex].text;
            if (chosen != "Select an Option") {
                var combine = "why " + chosen;
                document.getElementById("whysys").innerHTML = combine;
            }
            else {
                document.getElementById("whysys").innerHTML = "Let's choose a crypto system!";
            }
        }

        function validateForm() {
            if (document.getElementById("opt").value != "none" && document.getElementById("ende").value != "none") {
                return true;
            }
            //Handle error message here.
            alert("Please select a category");
            return false;
        }

        function toggle_visibility() 
        {
            var e = document.getElementById("butt");
            var val1 = document.getElementById("opt");
            var droptext1 = val1.options[val1.selectedIndex].text;
            var val2 = document.getElementById("ende");
            var droptext2 = val2.options[val2.selectedIndex].text;
            
            if (droptext1 != "Select an Option" && droptext2 != "Select an Option")
                e.style.display = 'inline-block';
        }

    </script>
</head>

<body>

<br/><br/><br/><br/><br/><br/>

<h1>Welcome to Cryptography Interactive Learning System!</h1>

<span class="color-picker"></span>

<br/><br/><br/>

<form action="_choose" onsubmit="return validateForm()" method="POST">
    <span class="dropdown_leading">
        I want to learn: &nbsp&nbsp&nbsp
    </span>
    <span class="custom-dropdown big">
        <select name="cryptosystem" id="opt" onchange="show_text(); why_system(); toggle_visibility();" >
            <option value="none" selected disabled hidden>
                Select an Option
            </option>
            <option>RSA</option>
            <option>Diffie–Hellman key exchange</option>
            <option>ElGamal encryption</option>
        </select>
    </span>

    <br/><br/>

    <span class="dropdown_leading">
        How it works? &nbsp&nbsp&nbsp&nbsp&nbsp
    </span>
    <div class="custom-dropdown big">
        <select name="en_de" id="ende" onchange="toggle_visibility(); show_text();">
            <option value="none" selected disabled hidden>
                Select an Option
            </option>
            <option>Encrypt</option>
            <option>Decrypt</option>
        </select>
    </div>

    <br/><br/><br/><br/>

    <span id="whysys" onclick="click_motivation();">

    </span>

    <br/><br/><br/><br/>

    <br/><br/><br/>

    <p class="title" id="word1">

    </p>

    <p class="word" id="word2">

    </p>

    <p class="word" id="word3">

    </p>

    <label for="fname" class="box_leading" id="e1_text">Exponent e: &nbsp&nbsp&nbsp</label>
    <input type="text" class="box" id="e1_input"><br><br><br><br>
    <label for="lname" class="box_leading" id="p1_text">Prime p: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" class="box" id="p1_input"><br><br><br><br>
    <label for="lname" class="box_leading" id="q1_text">Prime q: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" class="box" id="q1_input">
    <br/><br/><br/><br/><br/><br/>

    <div>
        <button class="button" id="butt">Try it yourself!</button>
    </div>


</form>
</body>
</html>